<!--pages/custom/custom.wxml-->

<view class="container">
  <button bindtap="custonWord" class="btn">自定义单词</button>
  <button bindtap="autoWord" class="btn">随机记忆</button>
  <button bindtap="myWord" class="btn">我的单词表</button>
</view>