<view class="container">

	<view class="login-icon">
		<image class="login-img" src="/static/images/login.png"></image>
	</view>
	<view class="login-from">

		<!--账号-->
		<view class="inputView">
			<image class="nameImage" src="/static/images/user.png"></image>
			<label class="loginLab">账号</label>
			<input class="inputText" placeholder="请输入账号" bindinput="usernameInput"/>
		</view>
		<view class="line"></view>

		<!--密码-->
		<view class="inputView">
			<image class="keyImage" src="/static/images/pwd.png"></image>
			<label class="loginLab">密码</label>
			<input class="inputText" password="true" placeholder="请输入密码" bindinput="passwordInput"/>
		</view>

		<!--按钮-->
		<view class="loginBtnView">
			<button class="loginBtn" type="primary" size="{{primarySize}}" loading="{{loading}}" plain="{{plain}}" disabled="{{disabled}}" bindtap="login">登录</button>
		</view>
	</view>
</view>