<!--pages/all_word/all_word.wxml-->
<view>
	<view>
		<view class="weui-search-bar">
			<view class="weui-search-bar__form">
				<!-- 搜索框 -->
				<view class="weui-search-bar__box">
					<icon class="weui-icon-search_in-box" type="search" size="14"></icon>
					<input type="text" class="weui-search-bar__input" placeholder="请输入搜索内容" bindinput="getInputValue" bindconfirm="search_list"/>
				</view>
			</view>
			<!-- 搜索按钮,调用搜索查询方法 -->
			<view class="weui-search-bar__cancel-btn" bindtap='search_list'>搜索</view>
		</view>
	</view>
</view>

<view class="container">
	<view class="item" wx:for="{{all_words}}" wx:key="id">
		<view class="word">
			<text class="count">{{item.word}}</text>
			<text class="mean">{{item.mean}}</text>
		</view>
	</view>
</view>